<h1>Editing Join Table Carts Item</h1>

<%= render 'form', join_table_carts_item: @join_table_carts_item %>

<%= link_to 'Show', @join_table_carts_item %> |
<%= link_to 'Back', join_table_carts_items_path %>
