<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->

      <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">

    <!-- CSS Styles -->
    <link rel="stylesheet" type="text/css" href="style.css" />

    <!-- Font -->


  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/8d01fb2593.js" crossorigin="anonymous"></script>

</head>

<body>

<div class="jumbotron jumbotron1-hero">
<div class="containerMain">
  <br>
  <right><h1>Join the Commu'<strong>Kitty</strong></h1></right>
    <right><h6>Find the <strong>cat</strong> of your dreams</h6></right>
  </div>
</div>

</body>

</html>