<footer class="bg-white text-center text-primary">

    <div class="container p-4">

      <section class="container-fluid">

        <div class="row">

          <div class="col-md-3 mb-4 mb-md-0">
            <h5 class="text-uppercase">CONTACT</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-grey">CONTACT US</a>
              </li>
              <li>
                <a href="#!" class="text-grey">FAQ KZKO ?</a>
              </li>
            </ul>
          </div>

          <div class="col-md-3 mb-4 mb-md-0">
            <h5 class="text-uppercase">TEAM BACK</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-grey">CLARISSE</a>
              </li>
              <li>
                <a href="#!" class="text-grey">JEREMY</a>
              </li>
              <li>
                <a href="#" class="text-grey"></a>
              </li>
            </ul>
          </div>

          <div class="col-md-3 mb-4 mb-md-0">
            <h5 class="text-uppercase">TEAM FRONT</h5>

            <ul class="list-unstyled mb-0">
            <li>
                <a href="#!" class="text-grey">DYLAN</a>
              </li>
              <li>
                <a href="#!" class="text-grey">ADRI</a>
              </li>
              <li>
                <a href="#!" class="text-grey">JB</a>
              </li>
            </ul>
          </div>

          <div class="col-md-3 mb-4 mb-md-0">
            <h5 class="text-uppercase">HOTSPOTS</h5>

            <ul class="list-unstyled mb-0">

              <li>
                <a href="#!" class="text-grey">BONUS</a>
              </li>
              <li>
                <a href="#!" class="text-grey">HELP !</a>
              </li>
            </ul>

        </div>

      </section>

    </div>
    <div class="text-center p-3 bg-primary">
      <a class="text-white" href="">&copy; - Kitty Shop x Twone</a>
    </div>

  </footer>